:root {
    font-family: 'Google Sans';
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
}

html, body {
    scroll-behavior: smooth;
    color: #fffffe;
    text-shadow: 10px 10px 10px black;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: block;
    width: 100%;
    min-width: 100%;
    margin-top: 200px;
    background: linear-gradient(#16161a, #242629, #16161a, #242629, #16161a);
}

main.noHeader {
    margin-top: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

section {
    width: 100%;
    min-width: 100%;
    scroll-margin-top: 200px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 24px;
    color: #94a1b2;
    line-height: 1.8;
}

a {
    text-decoration: inherit;
    display: inline-block;
    transition: transform 0.3s ease;
    color: #94a1b2;
}

a:hover {
    transform: scale(1.2);
    text-shadow: 10px 10px 10px black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
}

    @media (max-width: 768px) {
        main {
            margin-top: 120px;
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            font-size: 35px;
        }
        
        h2 {
            font-size: 26px;
        }

        p {
            font-size: 20px;
            line-height: 1.5;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        main {
            padding: 0 20px;
            margin-top: 160px;
        }
    }